__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.zip
*.log

# removed code folders
src/
models/
gan_models/

# temp & generated data
data/raw/
data/processed/
*.npy
*.pt
*.h5

# large result files
results/model_checkpoints/
results/generated_samples/
