__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.zip
*.log

# generated data
src/data/raw/
src/data/processed/
*.npy

# large results
results/model_checkpoints/
results/generated_samples/

# colab/temp
*.ipynb_save
